* {
    background-color: #262626;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-align: center;
    font-size: 10px;
    color: #8F8EBF;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.activar-block {
    display: block;
}
.activar-flex {
    display: flex;
}

.desactivar {
    display: none;
}
